@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');


*{
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    color: white;
}

.inter{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.miama{
    font-family: 'Miama', sans-serif;
    font-size: 100px;
    font-weight: 400;
}

p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.3px;  
}





body{
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);

    padding: 35px 15px;
}


nav{
    width: 73%;
    display: flex;
    align-items: center;

}

.title{
    color: #E6533C;
    font-style: italic;
    font-weight: 800;
    cursor: pointer;
}

.home{
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 46px;
    background: #E6533C;
}

.menu{
    display: flex;
    text-align: center;
    
}

a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#hamburger{
    display: none;
    width: 24px;
    height: 24px;
    
}


/* ------------------------------ banner----------------*/

.banner{
    width: 73%;
    display: flex;
    align-items: center;
}

.banner-content{
    width: 50%;
}
.banner-content h1{
    font-size: 78px;
    font-weight: 900;
    line-height: 89%;
}
.banner-content p{
    padding: 20px 0px;
}
.banner-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn{
    width: 41%;
    padding: 16px 40px;

    font-size: 18px;
    font-weight: 600;

    border: none;
    border-radius: 42px;
    background: #E6533C;
    cursor: pointer;
}

.without-color{
    border: 1.5px solid white;
    background: none;
}

.banner-img{
    margin: 0px auto;
    width: 349px;
    
}



.overlay-section {
    position: relative;
    
    width: 305px;
    margin: 20px auto;
}

.background-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.overlay-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.overlay-box {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 20px;
    text-align: start;
    max-width: 150px;
}

.top-right {
    align-self: flex-end;
}

.bottom-left {
    display: flex;
    align-items: center;
}


.large-text {
    font-size: 24px;
    font-weight: bold;
    display: block;
}

.small-text {
    font-size: 14px;
}

/* ------------------------- habit ---------------------*/

.change{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.sec-head{
    width: 44%;
    text-align: center;
}

.sec-head h1{ 
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.change-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.change-card-con{
    width: 231px;


}

.change-card-con-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.change-card-con-img img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.10);
}




/* ----------------------- extra mile -------------------- */

.extra-mile{
    width: 73%;
    display: flex;

    align-items: center;
    justify-content: space-between;
    border-radius: 18px;
    background: #222;
    padding: 30px 32px 29px 54px;
    gap: 165px;

    
}

.extra-mile-con{
    width: 40%;

}

.extra-mile-con h1{
    font-size: 48px;
    font-weight: 900;
}
.extra-mile-con p{
    padding: 20px 0px;
}

.extra{
    width: 50%;
}

.extra-mile img{
    width: 35%;
    height: 30%;
    border-radius: 18px;
}


/* ----------------service------ */


.services-section {
    width: 73%;
    text-align: center;
   
}

.services-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.services-section p {
    font-size: 1.2em;
    margin-bottom: 50px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.service-item {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.service-image {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.weight-room {
    background-image: url('images/weight-room.png'); /
}

.womens-gym {
    background-image: url('images/womens-gym.png'); 
}


.group-classes {
    background-image: url('images/les-mills-classes.png'); 
}

.turf-area {
    background-image: url('images/turf-area.png'); 
}


.service-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 1em;
    color: #bbb;
}


/* -------------------------------- bmi----------- */

.bmi{
    width: 44%;
    text-align: start;
    
}

.calculator{

    display: flex;

    align-items: stretch;
    justify-content: space-evenly;
    background: #222;
    padding: 35px 20px;
}
table{
    border: rgba(255, 255, 255, 0.10);
    margin-top: 30px;
    width: 285px;
    height: 216px;
}
tbody td{
    color: rgba(255, 255, 255, 0.50);
}
.cal-tab{
    width: 25%;
}
.form-title p{
    padding: 20px 0px;
}

.cal-form{
    width: 36%;
}

.form-container {
    width: 100%;
    margin-top: 15px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

input[type="text"], select {
    padding: 12px 40px 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
}

select {
    grid-column: span 1;
}

select:last-of-type {
    grid-column: span 2;
}

button {
    grid-column: span 1;
    padding: 16px 40px;
    margin-top: 20px;
    border-radius: 42px;
    background: #E6533C;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

}


/* ------------------------ team scetion------------- */


.team-section {
    width: 73%;
    text-align: center;
    padding: 20px;
}

.team-section h1 {
    margin-bottom: 10px;
}

.team-section p {
    margin-bottom: 30px;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.10);
    padding: 20px;
}

.team-member {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s;
}


.team-member img {
    width: 100%;
    height: 272px;
    display: block;
    border-radius: 10px;
}

.team-member-info {
    text-align: start;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
   
}

.team-member-info h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.team-member-info p {
    margin: 0;
    font-size: 0.9em;
    color: #ccc; 
}






/* -------------------------------- footer -------------- */

.footer {
    background: rgba(255, 255, 255, 0.10);
    color: #ccc; 
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 73%;
    margin: 0 auto;
    gap: 120px;
}

.footer-about {
    flex: 1;
    min-width: 250px;
}

.footer-logo {
    color: #E6533C; 
    font-size: 70px;
    font-weight: 800;
    font-style: italic;
}

.footer-about p {
    max-width: 300px;
    line-height: 1.6;
}

.footer-links {
    display: flex;
    flex: 2;
    justify-content: space-between;
    min-width: 250px;
}

.footer-column h3 {
    color: #fff;
    margin-bottom: 30px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    color: rgba(255, 255, 255, 0.50);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #ff4500; 
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444; 
    color: #666; 
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9em;
}

/* Responsive Design */
@media (max-width: 768px) {
    

    nav{
        width: 100%;
    }

    .menu{
        display: none;
    }

    #hamburger{
        display: flex;
    }
    .banner{
        width: 100%;
        flex-direction: column;
    }

    .banner-content{
        width: 100%;
    }

    .banner-content h1{
        font-size: 36px;
        line-height: 170%;
    }

    .btn{
        width: 100%;
        padding: 16px 11px;
        font-size: 16px;
    }

    .banner-img{
        margin: 0px auto;
        width: 305px;
       
    }

    .sec-head{
        width: 90%;
    }
    .sec-head h1{
        font-size: 32px;
    }
    
    
    .change-card{
        flex-direction: column;
    }

    .extra-mile{
        width: 89%;
        flex-direction: column;
        padding: 29px;
        gap: 31px;
    }

    .extra-mile-con{
        width: 100%;
    }

    .extra-mile-con h1{
        font-size: 32px;
    }

    .extra-mile-con p{
        font-size: 14px;
    }
    .extra{
        width: 100%;
    }


    .extra-mile img{
        width: 100%;
        height: 100%;
    }
    .services-section{
        width: 89%;
    }
    .services-grid {
        grid-template-columns: 1fr;
    }

    .bmi{
        width: 89%;
    }

    .calculator{
        flex-direction: column;
        gap: 20px;
    }

    .cal-tab{
        width: 89%;
    }
    .cal-form{
        width: 89%;
    }

    .team-section{
        width: 100%;
    }

    .team-container {
        grid-template-columns: 1fr;
    }

    .footer-container {
        flex-direction: column;
        gap: 30px;
        
    }
    .footer-container{
        margin: 0px;
    }
    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-about,
    .footer-links {
        margin-bottom: 20px;
    }

    .footer-logo{
        font-size: ;
    }
}